<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>

<body>
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">Register</div>
            </div>
            <div class="right">
                <svg viewBox="0 0 320 300">
                    <defs>
                        <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307"
                            y2="193.49992" gradientUnits="userSpaceOnUse">
                            <stop style="stop-color:#ff00ff;" offset="0" id="stop876" />
                            <stop style="stop-color:#ff0000;" offset="1" id="stop878" />
                        </linearGradient>
                    </defs>
                    <path
                        d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
                </svg>

                <div class="form">
                    <form id="register-form">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <input type="submit" id="submit" value="REGISTER">
                    </form>
                    <p>Already you have an account? <a style="color: #ff00ff;" href="/login">Login here</a></p>
                    
                </div>
            </div>
        </div>
        <p style="text-align:center;" id="strength"></p>
    </div>


    <script>document.getElementById('register-form').addEventListener('submit', async function (event) {
            event.preventDefault();
            console.log("formdata username", document.getElementById('username'))
            console.log("formdata password", document.getElementById('password'))

            const formdata = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            }
            console.log("formdata", formdata)
            const response = await fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formdata)
            }).then(res => {
                if (res.ok) return res.json()
            })
            console.log("formdata response", response, response?.strength)
            if (response?.message) {

                const strengthElement = document.getElementById('strength')
                strengthElement.innerHTML = response?.message;
            }
            if (response?.strength) {
                const strengthElement = document.getElementById('strength')
                strengthElement.innerHTML = `Your Password strength is <strong>${response?.strength}<strong>`;
            }

        })

        document.getElementById('register-form').addEventListener('reset', function (event) {
            event.preventDefault();
            document.getElementById('username').value = '1234';
            document.getElementById('password').value = '';

        })
    </script>

    <script src="../static/stylescript.js"></script>
</body>

</html>